{{#if err }}
<div class="alert alert-danger">
  <strong>Lỗi!</strong> Địa điểm nhập vào không phù hợp!
</div>
{{/if}}
{{#if items }}
<ul class="list-group">
  {{#each items}}
	<a href="/location/{{this.id}}" class="list-group-item"> 
		<span class="col-md-offset-1">
			{{this.name}} 
		</span>
	</a>    
  {{/each}}
</ul>
{{/if}}