<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <!-- NAVIGATION BAR -->
      <nav class="navbar navbar-default" role="navigation">

          <div class="col-md-8 col-md-offset-3">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/"><img class="img-responsive1" src="/images/logo.jpg"></a>
              </div>

              <div class="temp" id="bs-example-navbar-collapse-1">
                  <div class="col-md-6">
                      <form class="navbar-form" method="post" action="/">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search" name="q" id="q" >
                              <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div><!-- /.navbar-collapse -->
      </nav>
    <!-- END NAVIGATION BAR -->
    <div class="col-md-8 col-md-offset-2">
      <div class="container-fluid">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
